{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}

    {{ include("partials/title-section.html.twig", {'name':'Contact Page'}) }}

    <div class="container">
        {{ include('contact/_form.html.twig') }}
    </div>

{% endblock %}
