{% extends 'base.html.twig' %}

{% block title %}CGU aliexprass{% endblock %}

{% block body %}
    {{ include("partials/title-section.html.twig", {'name':'Register'}) }}
    <div class="container">
        <h1 class="text-center">Conditions Générales d'utilisations du site AliExprass</h1>

        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur debitis deserunt eius illo, laborum minima possimus quas quisquam repellat reprehenderit tempore, velit? Dolore, ducimus nobis officia officiis quasi sequi?
        </p>
    </div>
{% endblock %}
